mixin corporation(data)
  .corporation&attributes(attributes)
    img.corporation__lines(src="./img/corporation-lines.svg", alt)
    .corporation__header
      h2.mb-0 Корпорация НЛСК
    .corporation__content
      .corporation__item
        .h6.text-white.mb-0 Архитектура сообществ
      .corporation__item
        .h6.text-white.mb-0 Комьюнити драйверы
      .corporation__item
        .h6.text-white.mb-0 Конструктор событий	
