.corporation {
  position: relative;
  margin-top: 132px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(xl) {
    align-items: center;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__lines {
    position: absolute;
    z-index: -1;
    right: -855px;
    bottom: -190px;
    max-width: none;

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &__header {
    margin-right: 20px;
    padding: 50px 35px;
    display: flex;
    width: 389px;
    height: 389px;
    align-items: flex-end;
    flex-shrink: 0;
    background: #fff;
    border: 9px solid $primary;
    border-radius: 91px;

    @include media-breakpoint-down(xl) {
      width: auto;
      height: auto;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__content {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-right: 15px;
    padding: 74px 48px 74px 34px;
    display: flex;
    width: 100%;
    max-width: 228px;
    min-height: 276px;
    align-items: flex-end;
    background: url(../img/corporation-item-bg.svg) no-repeat top center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      padding: 30px;
      min-height: 0;
      background: $primary;
      border-radius: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding: 20px;
      width: 100%;
      max-width: none;
    }

    &:nth-child(2) {
      margin-top: 52px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      margin-top: 104px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
