mixin question(data)
  .question&attributes(attributes)
    .question__header
      .question__header-title Для 
        a(href="#") Валентинова Татьяна
      a.question__header-likes(href="#") 150
    .question__content= data.content
    .question__author Вопрос от: 
      a(href="#") ANTON KURKIN
    if data && data.type == 'answer'
      p.sm.text-primary.fw-semibold.mt-15.mb-0.ps-15 Ответ от Валентины: 
        span.text-dark Какие революционные проекты в цифровизации появятся после карантина ?