.question {
  padding-top: 16px;
  padding-bottom: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__header-title {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $dark;
    
    a {
      text-decoration: none;
    }
  }

  &__header-likes {
    margin-right: 18px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -.01em;
    color: $primary;
    text-decoration: none;
    color: $dark;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: $dark;
    }

    &:before {
      margin-right: 12px;
      margin-bottom: 4px;
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      content: '';
      background: url(../img/vote-up-green.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    margin-bottom: 14px;
    padding-right: 20px;
  }

  &__author {
    font-size: 14px;
    line-height: 1.29;
    color: #818181;
    
    a {
      text-decoration: none;
    }
  }
}
