.modal {
  display: none;
  max-width: 600px;
  border-radius: 20px;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  &__question-content {
  }

  &__header {
    margin-bottom: 20px;
  }

  &__question {
    margin-top: 30px;
  }

  &__question-sent {
    display: none;
  }

  &__question-sent-header {
  }

  &__offer-form {
  }

  &__offer-sent {
    display: none;
  }

  &__btn {
  }

  &--short {
    padding: 30px;
    width: 100%;
    max-width: 415px;
  }
}
