mixin modal(data)
  .modal&attributes(attributes)
    if data && data.type
      case data.type
    
        when 'question'
          .modal__question-content
            .modal__header
              h3.mb-0 Задать вопрос
            form.form.modal__question(action="#", method="POST")
              .form__item.form-group.mb-30
                label.p.mb-10 Выберите спикера
                +select({
                  placeholder: 'Введите'
                })
              .form__item.form-group
                textarea.input.input--textarea(placeholder="Вопрос для спикера")
              p.xs Вы можете задать любой вопрос спикеру, но прежде чем они будут им доставлены они пройдут предварительную модерацию.
            button.btn.btn-outline-dark.w-100(type="submit") Отправить
          .modal__question-sent
            .modal__question-sent-header Вопрос отправлен    
            
        when 'offer'
          .modal__header
            h5.mb-0 Предложить сессию
          form.form.modal__offer-form(action="#", method="POST")
            .form__item
              input.input.form-control(type="text" placeholder="Тема сессии")
            .form__item.form-group
              textarea.input.input--textarea(placeholder="Описание сессии")
            button.btn.btn-secondary.mt-15(type="submit") Предложить сессию
          .modal__offer-sent
            p.mb-0 Спасибо! Ваше предложение отправлено.
          
            
        default
          div
