@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/subset-ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/subset-ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/subset-ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
