h1,
.h1 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(xxl) {
    font-size: 50px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 40px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 34px;
  }
}

h2,
.h2 {
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(xxl) {
    font-size: 40px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 32px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 28px;
  }
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(xxl) {
    font-size: 32px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 28px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}

h4,
.h4 {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(xxl) {
    font-size: 28px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 24px;
  }

  &.sm {
    font-size: 30px;

    @include media-breakpoint-down(xxl) {
      font-size: 26px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 24px;
    }
  }
}

h5,
.h5 {
  font-size: 28px;
  line-height: 1.4;

  @include media-breakpoint-down(xxl) {
    font-size: 24px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 22px;
  }
}

h6,
.h6 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;

  @include media-breakpoint-down(xxl) {
    font-size: 20px;
  }

  @include media-breakpoint-down(xl) {
    font-size: 18px;
  }
}

p,
.p {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 1.4;
  color: #000;

  @include media-breakpoint-down(xxl) {
    margin-bottom: 22px;
    font-size: 16px;
  }

  &.xl {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 1.43;

    @include media-breakpoint-down(xxl) {
      margin-bottom: 32px;
      font-size: 24px;
    }
  }

  &.lg {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 1.3;

    @include media-breakpoint-down(xxl) {
      font-size: 20px;
    }
  }

  &.md {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
  }

  &.sm {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }

  &.xs {
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 1.4;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-black {
  font-weight: 900;
}

.semi-transparent {
  opacity: .8;
}

.transparent {
  opacity: .5;
}

.text-underline {
  text-decoration: underline;
}

ul {

  li {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 1.4;
    color: $dark;

    @include media-breakpoint-down(xxl) {
      font-size: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.yellow {
    padding-left: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 35px;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 35px;
        height: 15px;
        flex-shrink: 0;
        content: '';
        background: url(../img/list-yellow-icon.svg) no-repeat left center;
        transform: translateY(-50%);
      }
    }

    &--default {

      li {

        &:before {
          top: 7px;
          transform: none;
        }
      }
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
