mixin competences(data)
  .competences&attributes(attributes)
    .h2.competences__header Компетенции будущего
    .competences__content
      .competences__content-center
      .competences__rows-wrapper
        .competences__row
          .competences__item.competences__item--secondary.p эмоциональный интеллект
          .competences__item.competences__item--secondary.p формирование собственного мнения и принятия решений 
        .competences__row
          .competences__item.competences__item--primary.p гибкость ума
          .competences__item.competences__item--primary.p креативное мышление
        .competences__row
          .competences__item.competences__item--primary.p взаимодействие с людьми
          .competences__item.competences__item--secondary.p управление людьми
        .competences__row
          .competences__item.competences__item--secondary.p умение вести переговоры
          .competences__item.competences__item--primary.p клиентоориентированность
        .competences__row
          .competences__item.competences__item--primary.p комплексное многоуровневое решение проблем
          .competences__item.competences__item--secondary.p критическое мышление 
