.competences {
  margin-top: 152px;
  margin-bottom: 326px;

  @include media-breakpoint-down(xl) {
    margin: 100px 0 200px;
  }

  @include media-breakpoint-down(lg) {
    margin: 100px 0;
  }

  @include media-breakpoint-down(sm) {
    margin: 50px 0;
  }

  &__header {
    margin: 0 auto 75px;
    max-width: 320px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }

  &__content {
    position: relative;
  }

  &__content-center {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: url(../img/logo-red.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__row {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      position: relative;
      top: auto;
      left: auto;
      margin-bottom: 20px;
      transform: none !important;
    }

    @include media-breakpoint-down(md) {
      margin-left: -10px;
      width: calc(100% + 20px);
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      content: '';
      background: $primary;
      transform: translateY(-50%);

      @include media-breakpoint-down(md) {
        left: 10px;
        width: calc(100% - 20px);
      }

      @include media-breakpoint-down(sm) {
        top: 0;
        left: 50%;
        width: 3px;
        height: 100%;
        transform: translateX(-50%);
      }
    }

    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(24deg);
    }

    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(12deg);
    }

    &:nth-child(3) {
      transform: translate(-50%, -50%);
    }

    &:nth-child(4) {
      transform: translate(-50%, -50%) rotate(-12deg);
    }

    &:nth-child(5) {
      transform: translate(-50%, -50%) rotate(-24deg);
    }
  }

  &__item {
    margin-bottom: 0;
    padding: 10px 10.3px;
    display: inline-flex;
    max-width: 315px;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 20px;

    @include media-breakpoint-down(md) {
      margin: 0 10px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      max-width: none;
    }

    &:last-child {

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    &--secondary {
      background: $secondary;
    }

    &--primary {
      background: $primary;
    }
  }
}
