.representative {
  display: flex;
  align-items: center;

  &__photo {
    position: relative;
    margin-right: 40px;
    width: 104px;
    height: 104px;
    flex-shrink: 0;
    border-radius: 20px;
  }

  &__photo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }

  &__occupation {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    color: rgba(#000, .5);
  }
}
