mixin representative(data)
  .representative&attributes(attributes)
    .representative__photo
      img.representative__photo-img(src="./img/representative-1.jpg", alt)
    .representative__content
      .representative__occupation Руководитель пресс-службы Форума
      .h4.fw-semibold.mb-5 Анастасия Потычкина
      p.semi-transparent.mb-0 +7 (926) 278 32 93
