mixin news(data)
  a.news(href="#")&attributes(attributes)
    .news__picture
      img.news__picture-img(src="./img/" + data.picture, alt)
      .news__date 14.04.2021
    p.fw-bold.text-dark.mb-10 Заголвок для новости в несколько строк для наглядности отображения
