.news {
  margin-bottom: 46px;
  display: block;
  text-decoration: none;

  @include transition;

  &:hover {

    .news__picture-img {
      transform: scale(1.05);
    }
  }

  &__picture {
    position: relative;
    margin-bottom: 27px;
    padding-top: 84.57%;
    overflow: hidden;
    width: 100%;
    border-radius: 20px;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &__date {
    position: absolute;
    top: 9px;
    right: 5px;
    padding: 9px 20.4px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    color: #000;
    background: $secondary;
    border-radius: 20px;
  }
}
