mixin message(data)
  a.message(href="#")&attributes(attributes)
    .message__userpic(style="background-image: url(./img/" + data.photo + ");")
    .message__content
      .message__content-header
        .h6.message__name= data.name
        if data && data.modifier == 'active'
          .message__menu
        else
          .message__time 10:10
      .p.sm.message__text= data.content
