.message {
  padding: 12px 16px 5px 32px;
  display: flex;
  text-decoration: none;

  @include transition;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 13px;
  }

  &__userpic {
    margin-right: 14px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
    flex-grow: 1;
  }

  &__content-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__name {
    margin-bottom: 1px;
    font-size: 16px;
    line-height: 1.25;
    color: $dark;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: -5px;
    width: 20px;
    height: 20px;
    background: url(../img/message-menu.svg) no-repeat center;
    background-size: contain;
  }

  &__time {
    margin-left: 5px;
    opacity: .5;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: $dark;
  }

  &__text {
    margin-bottom: 0 !important;
  }

  &--active {
    color: #000;
    background: #f8f9fa;

    &:hover {
      color: #000;
    }

    .message__name {
      color: #000;
    }
  }

  &--current {

    .message__name {
      color: $primary;
    }
  }

  &--answer {
    margin-left: 30px;

    .message__time {
      display: none;
    }

    .message__userpic {
      margin-right: 12px;
      width: 19px;
      height: 19px;
    }

    .message__name {
      font-size: 11px;
      color: $primary;
    }
  }
}
