/* Bootstrap */

.container {

  @include media-breakpoint-down(sm) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .row {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.btn {
  padding: 16px 18px;
  min-width: 160px;
  font-size: 20px;
  line-height: 1.1;
  font-weight: 600;
  color: $dark;
  border-radius: 20px;

  @include media-breakpoint-down(sm) {
    padding: 10px 12px;
    min-width: 100px;
    font-size: 16px;
  }

  &.btn-primary {
  }

  &.btn-secondary {
  }

  &.btn-light {
    background: #fff;

    @include transition;

    &:hover {
      opacity: .9;
    }
  }

  &.btn-outline-light {
    padding: 10.5px 17.3px;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    border-color: #fff;

    &:hover {
      opacity: 1;
      color: $dark;
    }
  }

  &.btn-sm {
    padding: 7px 16.81px;
    min-width: 0;
    font-weight: 700;
    border-radius: 25px;
  }

  &.btn-xs {
    padding: 3px 10px;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    border-radius: 4px;
  }
}

/* Tabs */

.nav-tabs {
  border-bottom: 0;

  .nav-item {
    margin-right: 50px;

    @include media-breakpoint-down(lg) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    padding: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    border: 0;

    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

    &.active {
      padding: 0;
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }

  &--sm {

    .nav-item {
      margin-right: 12px;

      @include media-breakpoint-down(sm) {
        margin-right: 8px;
      }
    }

    .nav-link {
      padding: 10px;
      display: inline-flex;
      min-width: 63px;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      line-height: 1.1;
      font-weight: 700;
      border: 1px solid $primary;
      border-radius: 150px;

      @include media-breakpoint-down(sm) {
        padding: 8px;
        min-width: 50px;
        font-size: 14px;
      }

      &:hover {
        color: #fff;
        background: $primary;
      }

      &.active {
        padding: 10px;
        color: #fff;
        background: $red;
        border-color: $red;

        @include media-breakpoint-down(sm) {
          padding: 8px;
        }
      }
    }
  }
}

/* Fancybox */

.fancybox__content > .carousel__button.is-close {
  right: -36px;

  @include media-breakpoint-down(lg) {
    right: 0;
  }
}

/* Perfect Scrollbar */

.ps__rail-y {
  opacity: 1;
  border-radius: 150px;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  width: 6px;
  background: #e8e8e8;
}

.ps__thumb-y {
  right: 0;
  background: $primary;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 6px;
  background: $primary;
}

/* Slick */

.slick-arrow {
  position: absolute;
  top: -61px;
  width: 24px;
  height: 16px;
  font-size: 0;
  background: url(../img/slider-arrow.svg) no-repeat center;
  background-size: contain;

  &.slick-prev {
    right: 80px;
    transform: rotate(180deg);
  }

  &.slick-next {
    right: 16px;
  }
}

.slick-dots {
  margin-top: 20px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 0;

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {

      button {
        background: #000;
      }
    }

    button {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 1px solid #000;
      border-radius: 50%;
    }
  }
}

/* Select2 */

.select2-container .select2-selection--single {
  height: 60px;
  background: transparent;
  border-color: rgba(#000, .15);
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 20px;
  color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 10px;
  background: url(../img/select-arrow.svg) no-repeat center;
  background-size: 50%;
  transform: translateY(-50%);
}

.select2-selection__arrow b {
  display: none;
}

.select2-container--open .select2-dropdown--below {
  background: #fff;
}

.select2-container--default .select2-results > .select2-results__options li {
  margin-bottom: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-size: 20px;

  &:before {
    display: none;
  }
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  color: #fff;
}
