mixin important(data)
  .important&attributes(attributes)
    h4.fw-semibold.mb-15 ВАЖНАЯ ИНФОРМАЦИЯ
    p.fw-semibold.mb-0 За 24 часа до приезда на форум, помимо аккредитации, прислать на эл.адрес eurasiayouthforum@gmail.com сертификат вакцинации от COVID-19 или результат ПЦР-теста. В случае отсутствия медицинских данных, медиаслужба форума имеет право отказать в аккредитации и не пропустить на площадку.
