
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/socials/socials.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/part/part.pug
include ../blocks/news/news.pug
include ../blocks/slider/slider.pug
include ../blocks/partners/partners.pug
include ../blocks/organizers/organizers.pug
include ../blocks/footer/footer.pug
include ../blocks/info/info.pug
include ../blocks/participants/participants.pug
include ../blocks/video/video.pug
include ../blocks/component/component.pug
include ../blocks/section/section.pug
include ../blocks/feature/feature.pug
include ../blocks/corporation/corporation.pug
include ../blocks/competences/competences.pug
include ../blocks/activities/activities.pug
include ../blocks/program/program.pug
include ../blocks/item/item.pug
include ../blocks/live/live.pug
include ../blocks/chat/chat.pug
include ../blocks/message/message.pug
include ../blocks/person/person.pug
include ../blocks/question/question.pug
include ../blocks/platforms/platforms.pug
include ../blocks/number/number.pug
include ../blocks/format/format.pug
include ../blocks/tag/tag.pug
include ../blocks/contact/contact.pug
include ../blocks/representative/representative.pug
include ../blocks/requirement/requirement.pug
include ../blocks/important/important.pug
include ../blocks/warning/warning.pug
include ../blocks/covid/covid.pug
include ../blocks/article/article.pug
include ../blocks/networking/networking.pug
include ../blocks/communication/communication.pug
include ../blocks/stream/stream.pug
include ../blocks/advantages/advantages.pug
include ../blocks/content/content.pug
include ../blocks/opportunity/opportunity.pug
include ../blocks/link-back/link-back.pug
include ../blocks/player/player.pug
include ../blocks/media-controls/media-controls.pug
include ../blocks/speaker/speaker.pug
include ../blocks/questions/questions.pug
include ../blocks/modal/modal.pug
include ../blocks/select/select.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/event/event.pug
include ../blocks/proposal/proposal.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/news-slider/news-slider.pug
include ../blocks/postcard/postcard.pug
include ../blocks/main/main.pug
include ../blocks/markets/markets.pug
include ../blocks/media/media.pug