.organizers {

  &__wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    padding: 10px;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

    @include transition;

    @include media-breakpoint-down(lg) {
      width: 33.33%;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__item-logo {
  }

  &--new {
    margin-bottom: 30px;
  }
}
