mixin organizers(data)
  .organizers&attributes(attributes)
    .container
      .organizers__wrapper
        if data && data.type == 'new'
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-6.png", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-7.png", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-8.png", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-10.svg", alt)
        else
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-1.png", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-2.svg", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-3.png", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-4.svg", alt)
          a.organizers__item(href="#")
            img.organizers__item-logo(src="./img/organizer-5.svg", alt)
