.input {
  padding-left: 20px;
  min-height: 60px;
  font-size: 20px;
  color: #000;
  background: transparent;
  border: 1px solid rgba(#000, .15);
  border-radius: 4px;

  @include placeholder(rgba(#000, .7));

  @include transition;

  @include media-breakpoint-down(md) {
    min-height: 60px;
    font-size: 20px;
  }

  &:focus {
    color: #000;
    background: transparent;
    border-color: #000;
    box-shadow: none;
  }

  &--light {
    color: #fff;
    border-color: #fff;

    @include placeholder(#fff);

    &:focus {
      color: #fff;
      border-color: #fff;
    }
  }

  &--textarea {
    padding: 20px;
    width: 100%;
    min-height: 150px;
    resize: none;
  }
}
