.part {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include media-breakpoint-down(lg) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &__icon {
    margin-bottom: 36px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0;
    }
  }

  &__icon-img {
  }

  &__header {
    margin-bottom: 30px;
    display: flex;
    min-height: 60px;
    align-items: flex-end;
    line-height: 1.1;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__subheader {
    margin-bottom: 0;
  }
}
