mixin markets(data)
  .markets&attributes(attributes)
    .container
      .markets__wrapper
        h4.markets__header Скачайте официальное приложение форума
        .markets__content
          a.markets__item(href="#")
            img.markets__item-img(src="./img/play-market.svg", alt)
          a.markets__item(href="#")
            img.markets__item-img(src="./img/app-store.svg", alt)
