.markets {
  margin-bottom: 100px;

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header {
    margin-right: 30px;
    margin-bottom: 0;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__content {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    margin-right: 30px;
    display: block;
    width: 300px;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-img {
    width: 100%;
  }
}
