mixin chat(data)
  .chat&attributes(attributes)
    if data && data.type == "common"
      .chat__header
        h4.mb-0 Общий чат
        //.chat__members 35
      .chat__content
        +message({
          photo: 'user-1.jpg',
          name: 'Вячеслав Чморшанский',
          content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют '
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Юия Кирпа',
          content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает '
        })
        +message({
          photo: 'user-3.jpg',
          name: 'Олег Олаф',
          content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. '
        })
        +message({
          photo: 'user-4.jpg',
          name: 'Марина Олексеева',
          content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешае'
        })
        +message({
          photo: 'user-1.jpg',
          name: 'Ким Кин',
          content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum испо'
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Олег Вертегел',
          content: 'Да'
        })
        +message({
          photo: 'user-3.jpg',
          name: 'Риза Чалиев',
          content: 'Неть'
        })
      .chat__footer
        form.chat__form(action="#", method="POST")
          .chat__form-left
            input.chat__form-input(type="text", placeholder="Написать сообщение...")
          .chat__form-right
            button.chat__form-btn(type="submit")
    else
      .p.fw-bold.mb-10 Общий чат
      .chat__content
        +message({
          photo: 'user-1.jpg',
          name: 'Вячеслав Чморшанский',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько',
          modifier: 'active'
        }).message--active
        +message({
          photo: 'user-2.jpg',
          name: 'Анжелика Должанская',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены',
        })
        +message({
          photo: 'user-3.jpg',
          name: 'Ветер Дуновой',
          content: 'Каждый год горит Тайга Дальнего Востока. '
        })
        +message({
          photo: 'user-1.jpg',
          name: 'Вячеслав Чморшанский',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Анжелика Должанская',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены',
        }).message--current.message--answer
        +message({
          photo: 'user-1.jpg',
          name: 'Вячеслав Чморшанский',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Анжелика Должанская',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены',
        })
        +message({
          photo: 'user-3.jpg',
          name: 'Ветер Дуновой',
          content: 'Каждый год горит Тайга Дальнего Востока. '
        })
        +message({
          photo: 'user-1.jpg',
          name: 'Вячеслав Чморшанский',
          content: 'Сообщение от Вячеслава в несколько общение ячеслава в несколько'
        })
        +message({
          photo: 'user-2.jpg',
          name: 'Анжелика Должанская',
          content: 'Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены в Красную книгу чтобы законно их можно было Каждый год горит Тайга Дальнего Востока. целью поджига являются ценные породы дерева Даже те которые занесены',
        }).message--current.message--answer
      .chat__footer
        form.chat__form(action="#", method="POST")
          .chat__form-left
            a.chat__form-emoji(href="#")
            input.chat__form-input(type="text", placeholder="Сообщение")
          .chat__form-right
            button.chat__form-btn(type="submit")
