.chat {
  position: relative;
  padding-top: 10px;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -32px;
    display: block;
    width: calc(100% + 32px);
    height: 1px;
    content: '';
    background: $gray;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__header {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    position: relative;
    margin-left: -32px;
    width: calc(100% + 32px);
    height: 323px;

    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      border-left: 1px solid #f2f2f2;
    }
  }

  &__footer {
    background: rgba(#f2f2f2, .1);
  }

  &__form {
    padding: 8px 8px 8px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    border-radius: 4px;
  }

  &__form-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__form-emoji {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/chat-emoji.svg) no-repeat center;
    background-size: contain;
  }

  &__form-input {
    padding-right: 14px;
    flex-grow: 1;
    font-size: 12px;
    background: transparent;
    border: 0;

    @include placeholder(rgba(#495057, .5));
  }

  &__form-right {
    display: flex;
    align-items: center;
  }

  &__form-btn {
    width: 32px;
    height: 32px;
    background: url(../img/chat-send.svg) no-repeat center;
    background-size: contain;

    @include transition();

    &:hover {
      opacity: .75;
    }
  }

  &__members {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: #000;

    &:before {
      margin-right: 4px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/members-icon.svg) no-repeat center;
    }
  }

  &--inactive {
    opacity: .5;
    pointer-events: none;
  }

  &--team {
    background: #f2f2f2;

    .aside__content {
      padding: 10px 40px;
    }
  }

  &--common {
    padding-top: 0;

    @media (min-width: 1200px) and (max-height: 750px) {
      margin: 0 auto;
      max-width: 80%;
    }

    &:before {
      display: none;
    }

    .message {
      padding: 13px;
    }

    .message__content-header {
      justify-content: flex-start;
    }

    .message__name {
      margin-right: 20px;
    }

    .message__userpic {
      width: 39px;
      height: 39px;
    }

    .message__time {
      font-weight: 500;
    }

    .message__text {
      font-size: 14px;
      line-height: 1.3;
      color: #333;
    }

    .chat__content {
      margin-left: 0;
      width: 100%;
      height: 455px;
      background: #ededed;
      border-radius: 20px 20px 0 0;

      @media (min-width: 1200px) and (max-height: 800px) {
        max-height: 400px;
      }

      @media (min-width: 1200px) and (max-height: 750px) {
        max-height: 320px;
      }
    }

    .chat__footer {
      background: transparent;
      border-top: 1px solid rgba(#8f9bb3, .2);
    }

    .chat__form {
      padding: 16px 16px 16px 24px;
      background: #ededed;
      border-top: 1px solid rgba(#8f9bb3, .2);
      border-radius: 0 0 20px 20px;
    }

    .chat__form-input {
      font-size: 14px;

      @include placeholder(rgba(#939598, .5));
    }

    .chat__form-btn {
      width: 24px;
      height: 24px;
      background: url(../img/chat-arrow-common.svg) no-repeat center;
      background-size: contain;
    }
  }
}
