.proposal {
  margin-bottom: 23px;
  padding: 13px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: $red;
  border-radius: 20px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    max-width: 300px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__btn {
    margin-left: 40px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
