mixin proposal(data)
  .proposal&attributes(attributes)
    .proposal__header У вас есть интересная тема для всеобщего обсуждения? Предложите ее!
    a.btn.btn-outline-light.proposal__btn(href="#offer", data-fancybox) Предложить сессию
