.section {
  padding: 32px;
  display: flex;
  width: 100%;
  min-height: 375px;
  flex-direction: column;
  justify-content: space-between;
  color: $dark;
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 44px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 20px;
    padding: 20px;
    min-height: 0;
    background-size: contain;
    border-radius: 20px;
  }

  &__top {
    margin-bottom: 30px;
  }

  &__header {
    text-decoration: none;
    color: $dark;

    @include transition;

    &:hover {
      opacity: .8;
      color: inherit;
    }
  }

  &__bottom {
  }

  &__subheader {
    margin-bottom: 32px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 10px;
    }
  }

  &__btn {
  }

  &--yellow {
    background-color: $secondary;
  }

  &--red {
    color: #fff;
    background-color: $red;

    .section__header {
      color: #fff;
    }
  }

  &--blue {
    color: #fff;
    background-color: $primary;

    .section__header {
      color: #fff;
    }
  }
}
