mixin section(data)
  .section(style="background-image: url(./img/" + data.bg + ");")&attributes(attributes)
    .section__top
      a.h3.section__header(href="#")= data.header
    .section__bottom
      if data && data.subheader
        h6.section__subheader= data.subheader
      a.btn.btn-light.btn-sm(href="#") Перейти
