.stream {
  position: relative;
  padding: 90px 0 170px;
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    &:before {
      position: absolute;
      z-index: -1;
      top: 90px;
      right: 55px;
      display: block;
      width: 1568px;
      height: 538px;
      content: '';
      background: url(../img/front-bg.svg) no-repeat right top;
      background-size: contain;

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }

  &__content {
  }

  &__media {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
  }

  &--main {
    padding-top: 130px;

    @include media-breakpoint-down(lg) {
      padding: 40px 0;
    }

    .stream__wrapper {

      &:before {
        display: none;
      }
    }

    .stream__content {
      display: none;
    }

    .video {
      padding-top: 56.25%;
      border-radius: 50px;

      &:before {
        width: 100px;
        height: 100px;
      }
    }
  }

  &--new {
    padding-top: 0;
  }
}
