mixin stream(data)
  .stream&attributes(attributes)
    if data && data.type == 'new'
      .stream__media
        +media
    else
      .stream__wrapper
        if data && data.header
          .row
            .col-xl-10.mx-auto
              h2.mb-30.mb-lg-50= data.header
        .row
          .col-lg-3.d-flex.align-items-end
            .stream__content
              h4.mb-20.mb-lg-0 Слёт НЛСК 2020. <br>Казань
          if data && data.header
            .col-xl-10.mx-auto
              +video
          else
            .col-lg-9.d-flex.align-items-end
              +video

