.article {
  margin-bottom: 140px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &__content {

    h2 {
      margin-bottom: 43px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
    }

    img {
      margin-bottom: 48px;
      display: block;
      max-width: 87.5%;
      border-radius: 20px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
      }
    }

    p {
      margin-bottom: 28px;
    }

    blockquote {
      margin: 50px 0;
      padding: 44px 0 60px;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 700;
      color: rgba(#000, .8);
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;

      @include media-breakpoint-down(sm) {
        margin: 30px 0;
        padding: 30px 0;
      }
    }
  }

  &__footer {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }
  }

  &__share {
    display: flex;
    align-items: center;
  }
}
