.socials {
  display: flex;
  flex-shrink: 0;

  &__item {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;

    @include transition;

    &:hover {
      opacity: .7;
    }

    & + & {
      margin-left: 20px;
    }
  }

  &__item-icon {
  }
}
