mixin socials(data)
  .socials&attributes(attributes)
    a.socials__item(href="#")
      img.socials__item-icon(src="./img/vk.svg", alt)
    if data && data.type == 'new'
      a.socials__item(href="#")
        img.socials__item-icon(src="./img/tg.svg", alt)
    else
      a.socials__item(href="#")
        img.socials__item-icon(src="./img/fb.svg", alt)
    a.socials__item(href="#")
      img.socials__item-icon(src="./img/ig.svg", alt)
