.format {
  position: relative;
  margin-bottom: 32px;
  padding: 56px 20px 36px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $gray;
  border-radius: 10px;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 59px;
    height: 59px;
    content: '';
    background: url(../img/format-icon.svg) no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
  }
}
