.component {
  margin-bottom: 0;
  padding: 44px;
  width: 100%;
  max-width: 287px;
  min-height: 420px;
  background: url(../img/component-bg-up.svg) no-repeat center top;
  background-size: contain;

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
    padding: 30px;
    min-height: 155px;
    background: $secondary;
    border-radius: 20px;
  }

  @include media-breakpoint-down(md) {
    max-width: none;
    min-height: 0;
  }

  a {
    text-decoration: none;
  }

  &--bottom {
    padding-top: 160px;
    background: url(../img/component-bg-bottom.svg) no-repeat center top;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      padding-top: 20px;
      background: $secondary;
    }
  }
}
