.warning {
  margin: 20px 0 60px;
  padding: 30px 60px 30px 55px;
  display: flex;
  align-items: flex-start;
  background: $gray;
  border-radius: 20px;

  @include media-breakpoint-down(xl) {
    padding: 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &:before {
    margin-top: 17px;
    margin-right: 52px;
    display: block;
    width: 68px;
    height: 68px;
    flex-shrink: 0;
    content: '';
    background: url(../img/warning-icon.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      margin-right: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
