.platforms {
  margin-bottom: 74px;

  &__info {
    margin-bottom: 64px;
    padding: 24px 60px 24px 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gray;
    border-radius: 20px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__dscr {
    margin-bottom: 0;
    max-width: 200px;
    font-size: 18px;

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &__formats {
    margin-bottom: 48px;
  }

  &__formats-item {
    margin-bottom: 19px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__formats-item-number {
    margin-bottom: 0;
    width: 35px;
    flex-shrink: 0;
    font-weight: 600;
    color: $primary;
  }

  &__tags {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
  }
}
