.tag {
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 6px 16px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  color: $dark;
  background: $gray;
  border-radius: 10px;

  @include media-breakpoint-down(md) {
    margin-bottom: 12px;
    padding: 4px 12px;
    font-size: 16px;
  }
}
