.opportunity {

  &__wrapper {

    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
    }

    &:nth-child(1) {
      margin-top: 51px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      margin-top: 157px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      margin-top: 114px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }
  }

  &__picture {
    margin-bottom: 50px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 20px;
    }
  }

  &__picture-img {
  }
}
