.info {

  &__front {
  }

  &__front-left {
    position: relative;
    padding: 80px 55px 107px 60px;

    @include media-breakpoint-down(xl) {
      padding: 30px;
      background: $secondary;
      border-radius: 20px;
    }

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 639px;
      height: 936px;
      content: '';
      background: url(../img/info-front-bg.svg) no-repeat center;

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }

    &:after {
      position: absolute;
      z-index: -2;
      bottom: -296px;
      left: -445px;
      display: block;
      width: 788px;
      height: 815px;
      content: '';
      background: url(../img/info-circles.svg) no-repeat center;

      @media (max-width: 1600px) {
        bottom: -50px;
        left: -210px;
        width: 591px;
        height: 611.5px;
        background-size: contain;
      }

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }

  &__front-left-top {
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__front-left-title {
    margin-bottom: 45px;
    font-size: 54px;
    line-height: 1.1;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      font-size: 32px;
    }
  }

  &__front-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__front-left-overall {
    margin-right: -79px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    @include media-breakpoint-down(xl) {
      margin-right: 0;
    }
  }

  &__front-left-overall-number {
    font-size: 233px;
    line-height: 1.1;
    font-weight: 700;

    @include media-breakpoint-down(md) {
      font-size: 80px;
    }
  }

  &__front-left-overall-subheader {
    margin-top: -34px;
    padding-right: 16px;
    font-size: 42px;
    line-height: 1.4;
    font-weight: 600;

    @include media-breakpoint-down(md) {
      margin-top: 0;
      padding-right: 0;
      font-size: 24px;
    }
  }

  &__front-right {
    margin-left: -32px;

    @include media-breakpoint-down(xxl) {
      margin-left: 0;
    }
  }

  &__front-media {
    width: 846px;
    max-width: none;
    height: 550px;
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &__participants {
    margin-top: 53px;

    @include media-breakpoint-down(xl) {
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }

  &__comment {
    position: relative;
    margin-bottom: 0;
    padding-right: 30px;
    padding-left: 35px;
    font-weight: 600;

    @include media-breakpoint-down(xl) {
      margin-bottom: 20px;
    }

    &:before {
      position: absolute;
      top: 13px;
      left: 0;
      display: block;
      width: 35px;
      height: 15px;
      flex-shrink: 0;
      content: '';
      background: url(../img/list-yellow-icon.svg) no-repeat left top;
    }

    &--offset {
      margin-left: -32px;

      @include media-breakpoint-down(xl) {
        margin-left: 0;
      }
    }
  }

  &__communication {
    position: relative;
    margin-bottom: 123px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 40px;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 100%;
      display: block;
      width: 788px;
      height: 815px;
      content: '';
      background: url(../img/info-circles.svg) no-repeat center;

      @media (max-width: 1700px) {
        top: -150px;
        left: calc(100% - 170px);
        width: 591px;
        height: 611.5px;
        background-size: contain;
      }

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }

  &__communication-picture {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__communication-picture-img {
    max-width: none;
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
  }

  &__communication-content {
    padding-top: 70px;

    @include media-breakpoint-down(xl) {
      padding-top: 30px;
    }

    &--offset {
      margin-right: -20px;
    }
  }

  &__grant {
    position: relative;

    &:after {
      position: absolute;
      z-index: -1;
      top: 277px;
      right: calc(100% + 73px);
      display: block;
      width: 788px;
      height: 815px;
      content: '';
      background: url(../img/info-circles.svg) no-repeat center;

      @media (max-width: 1700px) {
        top: 500px;
        right: calc(100% - 300px);
        width: 591px;
        height: 611.5px;
        background-size: contain;
      }

      @include media-breakpoint-down(xl) {
        display: none;
      }
    }
  }

  &__grant-amount {
    margin-top: 17px;
    margin-bottom: 35px;
    margin-left: -16px;
    padding: 73px 58px 24px 103px;
    background: url(../img/info-grant-bg.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      background-position: top left;
    }

    @include media-breakpoint-down(sm) {
      padding: 30px;
    }
  }

  &__grant-amount-comment {
    margin-bottom: 7px;
    font-size: 43.5px;
    line-height: 1.1;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }

  &__grant-amount-header {
    font-size: 102px;
    line-height: 1.1;
    font-weight: 700;
    white-space: nowrap;

    @include media-breakpoint-down(sm) {
      font-size: 50px;
    }
  }

  &__grant-amount-subheader {
    font-size: 22px;
    line-height: 1.1;
    text-align: right;

    @include media-breakpoint-down(xl) {
      text-align: left;
    }
  }

  &__opportunities {
    margin-top: 110px;
    margin-bottom: 100px;

    @include media-breakpoint-down(lg) {
      margin: 50px 0;
    }
  }
}
