mixin item(data)
  .item&attributes(attributes)
    .item__time 11:45 - 12:30
    .item__header
      .p.xs.fw-bold.mb-0= data.title
      if data && data.fav
        if data && data.fav == 'full'
          .item__star.item__star--full
        else
          .item__star
    if data && data.section
      .item__section(class="item__section--" + data.color)= data.section
    if data && data.break
    else
      .item__persons-wrapper
        +person({
          name: 'Валидаров Константин',
          company: 'Mail.ru group'
        }).item__person
        +person({
          name: 'Иринова Екатерина',
          company: 'Joxi'
        }).item__person
