.item {
  margin-bottom: 16px;
  padding: 14px 18px;
  background: #f2f2f2;
  border-radius: 4px;

  &:hover {

    .item__persons-wrapper {
      display: flex;
    }
  }

  &__time {
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__star {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    background: url(../img/star.svg) no-repeat center;

    &--full {
      background: url(../img/star-filled.svg) no-repeat center;
    }
  }

  &__section {
    margin-top: 20px;
    padding: 3px 7.55px;
    display: inline-flex;
    font-size: 10px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;

    &--red {
      background: $red;
    }

    &--blue {
      background: $primary;
    }

    &--pink {
      background: #e40c7d;
    }

    &--yellow {
      background: $secondary;
    }

    &--violet {
      background: #623186;
    }
  }

  &__persons-wrapper {
    margin-top: 14px;
    display: none;
    flex-wrap: wrap;

    @include transition;
  }

  &__person {
    margin-right: 40px;
    margin-bottom: 10px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &--break {
    background: url(../img/item-break-bg.svg) repeat-x left center;
  }
}
