mixin footer(data)
  .footer&attributes(attributes)
    if data && data.type == 'short'
    else
      +partners
    if data && data.modifier == 'new'
      +organizers({
        type: 'new'
      }).organizers--new
      .footer__bottom
        .container
          .footer__bottom-wrapper
            .footer__left
              .p.xs.mb-0 © Форум студенческих объединений Приволжского федерального округа 2021
            .footer__right
              +socials({
                type: 'new'
              }).footer__socials
              a.p.sm.footer__link.text-primary.semi-transparent.text-decoration-none.mb-0(href="#") Пользовательское соглашение
    else
      +organizers.footer__organizers
      .footer__bottom
        .container
          .footer__bottom-wrapper
            .footer__left
              .p.xs.mb-0 © Всероссийский Слёт Национальной лиги студенческих клубов
            .footer__right
              +socials.footer__socials
              a.p.sm.footer__link.text-primary.semi-transparent.text-decoration-none.mb-0(href="#") Пользовательское соглашение
