.footer {

  &__organizers {
    padding: 90px 0 55px;
    border-top: 1px solid rgba(#000, .2);

    @include media-breakpoint-down(lg) {
      padding: 40px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
  }

  &__bottom {
    padding-bottom: 90px;

    @include media-breakpoint-down(lg) {
      padding-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__left {
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__socials {
    margin-right: 130px;

    @include media-breakpoint-down(lg) {
      margin-right: 40px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__link {

    @include transition;

    &:hover {
      color: $secondary !important;
    }
  }
}
