.speaker {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;

  @include transition;

  &:hover {
    opacity: .8;
    text-decoration: none;
    color: #000;
  }

  &__photo {
    margin-bottom: 15px;
    width: 135px;
    height: 135px;
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__type {
    font-size: 10px;
    line-height: 1.6;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $dark;
  }

  &__name {
    margin: 5px 0 10px!important;
    line-height: 1.25;
    font-weight: 700;
  }
}
