mixin speaker(data)
  a.speaker(href="#")&attributes(attributes)
    .speaker__photo(style="background-image: url(./img/" + data.photo + ");")
    .speaker__content
      .speaker__type= data.type
      p.md.speaker__name Валентинова Татьяна
      p.sm.mb-0= data.dscr
    
