mixin partners(data)
  .partners&attributes(attributes)
    .container
      h2.mb-30.mb-xl-75 Партнёры Слёта НЛСК 2021
      .row
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-1.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-2.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-3.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-4.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-5.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-6.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-7.png", alt)
        .col-lg-3.col-6.d-flex
          a.partners__item(href="#")
            img.partners__item-logo(src="./img/partner-8.svg", alt)
