.partners {
  padding-top: 80px;
  border-top: 1px solid rgba(#000, .2);

  @include media-breakpoint-down(lg) {
    padding-top: 40px;
  }

  &__item {
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__item-logo {
    max-height: 100%;
  }
}
