mixin program(data)
  .program&attributes(attributes)
    .program__time
      .program__time-item 
        .program__time-item-content 10:45-11:00
      .program__time-item 
        .program__time-item-content 11:00-12:30
      .program__time-item 
        .program__time-item-content 12:30-13:00
      .program__time-item 
        .program__time-item-content 13:00-14:30
      .program__time-item 
        .program__time-item-content 14:30-16:30
      .program__time-item 
        .program__time-item-content 16:30-18:30
      .program__time-item 
        .program__time-item-content 18:30-19:00
      .program__time-item 
        .program__time-item-content 19:00-20:30
      .program__time-item 
        .program__time-item-content 20:30-22:30
    .program__content
      +item({
        title: 'Установка на день. Карта дня'
      })
      +item({
        title: 'ГОРИЗОНТЫ СОБЫТИЙ'
      })
      +item({
        title: 'Перерыв / Интерактивный нетворкинг',
        break: true
      }).item--break
      +item({
        title: 'Обед'
      })
      +item({
        title: 'Перерыв / Интерактивный нетворкинг',
        break: true
      }).item--break
      +item({
        title: 'Ужин'
      })
      +item({
        title: 'Эмоциональный интеллект, гибкость мышления',
        section: 'Конструктор событий',
        color: 'red',
        fav: 'empty'
      })
      +item({
        title: 'Эмоциональный интеллект, гибкость мышления',
        section: 'Теория и практика креат-го мышл-ия	',
        color: 'blue',
        fav: 'full'
      })
      +item({
        title: 'Эмоциональный интеллект, гибкость мышления',
        section: 'Партнеры: поиск ресурсов',
        color: 'pink',
        fav: 'empty'
      })
      +item({
        title: 'Эмоциональный интеллект, гибкость мышления',
        section: 'Комьюнити Online. Инструменты	',
        color: 'yellow',
        fav: 'empty'
      })
      +item({
        title: 'Эмоциональный интеллект, гибкость мышления',
        section: 'Конструктор',
        color: 'violet',
        fav: 'empty'
      })
