.program {
  display: flex;

  &__time {
    margin-right: 32px;
    width: 98px;
    flex-shrink: 0;
    border-right: 1px solid #000;

    @include media-breakpoint-down(sm) {
      margin-right: 16px;
      width: 75px;
    }
  }

  &__time-item {
    padding-top: 17px;
    padding-right: 33px;
    height: 57px;
  }

  &__time-item-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__content {
    flex-grow: 1;
  }
}
