extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .row
        .col-xl-2
          +link-back({
            type: 'short'
          })
        .col-xl-8
          .article
            .article__content
              h2 Молодёжь Волгоградской области погрузилась в тему студенческих клубов
              img(src="./img/article.jpg", alt)
              p 10 августа стартует регистрация участников на онлайн-формат Международного молодежного форума «ЕвразияGlobal». Он будет реализовываться со 2 по 7 сентября, а офлайн-форум пройдет со 2 по 8 сентября в Оренбурге.
              p Участниками онлайн-форума могут стать специалисты, осуществляющие свою деятельность в сфере международного молодежного сотрудничества, молодежные лидеры, молодые иностранцы, заинтересованные во взаимодействии и сотрудничестве с российской молодежью в возрасте от 18 до 30 лет (до 35 летдля иностранных участников). <br>Зарегистрированному участнику будут открыты все возможности офлайн-форума: голосования, дискуссии, общение с другими форумчанами, участие в деловой программе, Программе 2.0 и других активностях.
              blockquote Регистрация проходит в АИС «Молодежь России» по ссылке: https://myr osmol. ru/event/48517 и завершится 23 августа.  Цель онлайн-форума — интеграция российских, зарубежных спикеров и участников, включение в работупредставителей большого количества стран, предоставление возможности тем, кто не смог принять участие в мероприятиях основной программы, стать частью международного события.
              p Участники смогут практиковаться под чутким руководством профессионалов международного масштаба в онлайн-воркшопах и получить от специалистов необходимые консультации.Им будут доступны трансляции медийных встреч: дискуссий, TED Talks, интервью и ток-шоу с приглашенными гостями по основной теме дня. А также панельные дискуссии с известными руководителями и общественными деятелями из России, Германии, Италии, Нидерландов, Египта, Великобритании и других стран, представителями таких компаний, как «Viber», «TildaPublisher» и других. Участники смогут удаленно поработать влабораторияхвсех четырех направлений «Сообщества», «Международное сотрудничество», «Устойчивые проекты», «Креативная экономика». А участие в нетворкинг-сессиях даст возможность форумчанам обменяться лучшими практиками, найти контакты и партнеров из других стран. Отдельная тема делового модуля онлайн-программы будет посвящена взаимодействию с молодыми соотечественниками, проживающими за рубежом.
            .article__footer
              .article__share
                .p.sm.mb-0.me-30.me-xl-65 Поделиться:
                +socials.socials--lg
              .p.sm.transparent.mb-0 14.06.2020
      +news-slider
  +footer
