extends ../templates/template.pug
block content
  +header({
    type: 'login'
  })
  .wrapper
    .container
      .cabinet
        h2.mb-30.mb-xl-50 Личный кабинет
        .row
          .col-md-3
            .cabinet__user
              .cabinet__user-picture(style="background-image: url(./img/cabinet-user.jpg)")
              .cabinet__user-content
                h5.fw-bold.mb-15 Виктория Моршанская
                p.md.fw-semibold.transparent.mb-5 Россия
                p.sm.transparent Участник
          .col-xl-8.col-md-9.offset-xl-1
            ul.nav.nav-tabs.mb-35
              li.nav-item
                button.nav-link.active#profile-tab(data-bs-toggle='tab' data-bs-target='#profile') Профиль
              li.nav-item
                button.nav-link#schedule-tab(data-bs-toggle='tab' data-bs-target='#schedule') Мое расписание
              li.nav-item
                button.nav-link#program-tab(data-bs-toggle='tab' data-bs-target='#program') Программа 2.0
            .tab-content
              #profile.tab-pane.fade.show.active
                .cabinet__table-wrapper
                  .cabinet__table-item
                    .cabinet__table-header Email
                    .cabinet__table-content 
                      .p.mb-0 chertilov+11@raec.ru
                  .cabinet__table-item
                    .cabinet__table-header Контактный телефон
                    .cabinet__table-content 
                      .p.mb-0 +7 985 668 99 88
                  .cabinet__table-item
                    .cabinet__table-header Статус
                    .cabinet__table-content 
                      .p.mb-0 Участник
                  .cabinet__table-item
                    .cabinet__table-header Страна проживания
                    .cabinet__table-content 
                      .p.mb-0 Россия
                  .cabinet__table-item
                    .cabinet__table-header О себе
                    .cabinet__table-content 
                      .p.mb-0 Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тотДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый 
                form.cabinet__table-form(action="#", method="POST")
                  .link-back.mb-30
                    a.link-back__arrow.cabinet__table-form-back(href="#")
                    .link-back__content
                      h4.text-dark.mb-0 Редактировать профиль
                  .form__item.mb-20.form-group
                    input.input.form-control(type="email", placeholder="Email")
                  .form__item.mb-20.form-group
                    input.input.form-control(type="tel", placeholder="Контактный телефон")
                  .form__item.mb-20.form-group
                    input.input.form-control(type="text", placeholder="Статус")
                  .form__item.mb-20.form-group
                    input.input.form-control(type="text", placeholder="Страна проживания")
                  .form__item.mb-20.form-group
                    textarea.input.input--textarea(placeholder="О себе")
                  button.btn.btn-secondary(type="submit") Сохранить
              #schedule.tab-pane.fade(aria-labelledby="schedule-tab")
                .cabinet__schedule
                  .cabinet__schedule-section
                    h6.cabinet__schedule-day 3 сентября
                    +event({
                      favorite: false,
                      dscr: 'Эмоционал формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие ьный интеллект, гибкость мышления',
                      color: 'red'
                    })
                  .cabinet__schedule-section
                    h5.cabinet__schedule-day 4 сентября
                    +event({
                      favorite: true,
                      dscr: 'Эмоционал формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие ьный интеллект, гибкость мышления',
                      color: 'red'
                    })
              #program.tab-pane.fade(aria-labelledby="program-tab")
                .cabinet__program
                  +proposal
                  +event({
                    favorite: true,
                    color: 'red',
                    dscr: 'Эмоционал формирование программ развития цифровой экономики в регионах является одним из приоритетных направлений российской государственной политики. Системное развитие ьный интеллект, гибкость мышления',
                    interest: true
                  })
  +footer({
    type: 'short'
  })
  +modal({
    type: 'offer'
  }).modal--short#offer
