extends ../templates/template.pug
block content
  .wrapper
    +header
    .container.mt-30
      h2.mb-35 Онлайн-нетворкинг
      +chat({
        type: 'common'
      }).chat--common
      +communication
  +footer
