extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20(href="platforms.html", style="font-size: 20px;") Platforms
          li(style="list-style: none;")
            a.d-block.my-20(href="media.html", style="font-size: 20px;") Media
          li(style="list-style: none;")
            a.d-block.my-20(href="info.html", style="font-size: 20px;") Info
          li(style="list-style: none;")
            a.d-block.my-20(href="program.html", style="font-size: 20px;") Program
          li(style="list-style: none;")
            a.d-block.my-20(href="live.html", style="font-size: 20px;") Live
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="chat.html", style="font-size: 20px;") Chat
          li(style="list-style: none;")
            a.d-block.my-20(href="main-new.html", style="font-size: 20px;") Main New
          li(style="list-style: none;")
            a.d-block.my-20(href="main-new-south.html", style="font-size: 20px;") Main New South
