extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      .info
        .info__front
          .row
            .col-xl-7
              .info__front-left
                .info__front-left-top
                  h4.mb-0 21-27 сентября 
                  h4.mb-0 г. Казань
                .info__front-left-title Слёт Национальной лиги студенческих клубов
                p.fw-semibold.mb-20.mb-xl-35 Слёт НЛСК является площадкой для укрепления горизонтальных связей между студенческими клубами. 
                .info__front-tags
                  .p.fw-bold.me-20 #НЛСК
                  .p.fw-bold.me-20 #СлетНЛСК
                  .p.fw-bold.me-20 #ONRUSSIA
                .info__front-left-overall
                  .info__front-left-overall-number 2600
                  .info__front-left-overall-subheader человек
            .col-xl-4.offset-xxl-1
              .info__front-right
                img.info__front-media(src="./img/info-media.png", alt)
                .info__participants
                  +participants({
                    number: '1500',
                    header: 'Онлайн участников'
                  })
                  +participants({
                    number: '700',
                    header: 'Офлайн участников'
                  })
                  +participants({
                    number: '200',
                    header: 'Волонтеров'
                  })
                  +participants({
                    number: '100',
                    header: 'Организаторов и экспертов'
                  })
                  +participants({
                    number: '100',
                    header: 'Представителей ОИВ',
                    subheader: 'реализующих государственную молодежную политику РФ '
                  })
          .row
            .col-md-6.col-lg-4.offset-xl-4
              .info__comment.p авторы и руководители социальных проектов, реализующихся на территории России
            .col-md-6.col-lg-4
              .info__comment.info__comment--offset.p лидеры и представители студенческих клубов и объединений
        +stream
        +content
        .row.justify-content-center.mb-30.mb-xl-95
          .col-6.col-sm-4.col-lg.d-flex
            +part({
              icon: 'part-1.svg',
              header: 'Мое дело',
              subheader: 'Интерактивные блоки'
            })
          .col-6.col-sm-4.col-lg.d-flex
            +part({
              icon: 'part-2.svg',
              header: 'Горизонты событий',
              subheader: 'Вип-встречи'
            })
          .col-6.col-sm-4.col-lg.d-flex
            +part({
              icon: 'part-3.svg',
              header: 'На связи',
              subheader: 'Онлайн вовлечение своих сообществ'
            })
          .col-6.col-sm-4.col-lg.d-flex
            +part({
              icon: 'part-4.svg',
              header: 'Внедрение',
              subheader: 'Работа в приложении НЛСК'
            })
          .col-6.col-sm-4.col-lg.d-flex
            +part({
              icon: 'part-5.svg',
              header: 'Сеть НЛСК',
              subheader: 'Нетворкинг'
            })
        h2.mb-30.mb-lg-65 Один Слет — по всей стране 
        .row
          .col-xl-3.col-sm-6
            +feature({
              number: '1',
              header: 'Разые форматы слета: ',
              dscr: 'Онлайн, Оффлайн в Казани, региональные площадки с уникальными программами'
            })
          .col-xl-3.col-sm-6
            +feature({
              number: '2',
              header: 'Создание эффекта присутствия ',
              dscr: 'посредством съемки виртуальной панорамы (обзор 360) главной встречи слета'
            }).feature--reverse
          .col-xl-3.col-sm-6
            +feature({
              number: '3',
              header: 'Кабинки для нетворкинга ',
              dscr: '- инструмент диалога и взаимодействия между участниками офлайн- и онлайн-слета'
            })
          .col-xl-3.col-sm-6
            +feature({
              number: '4',
              header: 'Виртуальная экскурсия ',
              dscr: 'по Казани на онлайн-слете одновременно с путешествием по городу офлайн-участников'
            }).feature--reverse
        +corporation
        +competences
        .info__communication
          .row
            .col-xl-5
              h2.mb-30.mb-xl-80 Общение с Talkoм Программа 2.0 
          .row
            .col-xl-6
              .info__communication-picture
                img.info__communication-picture-img(src="./img/info-1.png", alt)
            .col-xl-4.offset-xl-1
              .info__communication-content.info__communication-content--offset
                p.xl.fw-bold Площадка для взаимного обучения от участника к участнику. 
                p.xl Каждый сможет предложить свои темы для обсуждений. Итоговые темы и форматы будут определяться голосованием среди участников. 
        .info__grant
          h2.mb-15 Грантовый конкурс
          .row
            .col-xl-6
              .info__grant-amount
                .info__grant-amount-comment до
                .info__grant-amount-header 500 000
                .info__grant-amount-subheader рублей
              .w-75.mb-30.mb-xl-0
                h5.fw-bold.mb-0 В рамках Всероссийского конкурса молодежных проектов
            .col-xl-5.offset-xl-1
              h5.fw-bold.mb-0 Направление:
              h5.fw-bold.mb-30 Развитие студенческих клубов
              h5.fw-bold.mb-30 Номинации:
              ul.yellow
                li добровольчество 
                li развитие социальных лифтов 
                li инициативы творческой молодежи 
                li патриотическое воспитание 
                li спорт, ЗОЖ, туризм
                li профилактика негативных проявлений    в молодежной среде и межнациональное взаимодействие 
                li укрепление семейных ценностей 
                li молодёжные медиа
        .info__opportunities
          h2.mb-30.mb-xl-55 #ONRUSSIA
          .row
            .col-xl-3.col-sm-6.opportunity__wrapper
              +opportunity({
                picture: 'opportunity-1.png',
                dscr: 'Интерактивный командный <span class="fw-bold">квест-экскурсия по Казани</span> с использованием мобильного приложения НЛСК'
              })
            .col-xl-3.col-sm-6.opportunity__wrapper
              +opportunity({
                picture: 'opportunity-2.png',
                dscr: 'Кейс-задача по <span class="fw-bold">проектному управлению приложением НЛСК</span>. Авторы лучшего решения кейсов получат возможность стажировки в проекте НЛСК'
              })
            .col-xl-3.col-sm-6.opportunity__wrapper
              +opportunity({
                picture: 'opportunity-3.png',
                dscr: 'Ежедневные <span class="fw-bold">квизы</span> в приложении'
              })
            .col-xl-3.col-sm-6.opportunity__wrapper
              +opportunity({
                picture: 'opportunity-4.png',
                dscr: 'Розыгрыш 20 <span class="fw-bold">Apple Watch 3</span> сезона «Лиги OnRussia»'
              })
        +news-slider
  +footer
