extends ../templates/template.pug
block content
  +header
  .wrapper
    .live
      .container
        .row
          .col-xl-9
            +link-back({
              title: 'Эмоциональный интеллект, гибкость мышления'
            })
        .row.no-gutters
          .col-lg-8
            +player
            .pr-lg-15
              +media-controls
          .col-lg-4
            +chat
      .live__bottom
        .container
          .row.no-gutters
            .col-xl-6.order-2.order-xl-1
              .mr-20.mr-lg-40
                p.fw-semibold.text-primary.my-35 Спикеры
                .row
                  .col-sm-6.col-lg-4
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Ведущий',
                      dscr: 'Партнер, Speedinvest еще должность'
                    })
                  .col-sm-6.col-lg-4
                    +speaker({
                      photo: 'user-2.jpg',
                      type: 'Спикер',
                      dscr: 'Партнер, Speedinvest'
                    })
                  .col-sm-6.col-lg-4
                    +speaker({
                      photo: 'user-3.jpg',
                      type: 'Спикер',
                      dscr: 'Партнер, Speedinvest'
                    })
                  .col-sm-6.col-lg-4
                    +speaker({
                      photo: 'user-1.jpg',
                      type: 'Ведущий',
                      dscr: 'Партнер, Speedinvest'
                    })
                  .col-sm-6.col-lg-4
                    +speaker({
                      photo: 'user-2.jpg',
                      type: 'Спикер',
                      dscr: 'Партнер, Speedinvest'
                    })
                  .col-sm-6.col-lg-4
                    +speaker({
                      photo: 'user-3.jpg',
                      type: 'Спикер',
                      dscr: 'Партнер, Speedinvest'
                    })
            .col-xl-6.order-1.order-xl-2
              +questions
  +footer
  +modal({
    type: 'question'
  })#question
