extends ../templates/template.pug
block content
  +header({
    type: 'new'
  })
  .main
    .wrapper
      +front({
        type: 'new'
      }).front--new
      .container
        +stream({
          type: 'new'
        }).stream--main.stream--new
    +postcard
    +markets
    +footer({
      type: 'short',
      modifier: 'new'
    })
