extends ../templates/template.pug
block content
  +header({
    type: 'new',
    modifier: 'south'
  })
  .main
    .wrapper
      +front({
        type: 'south'
      }).front--new.front--south
      .container
        +stream({
          type: 'new'
        }).stream--main.stream--new
    +postcard({
      south: true
    }).postcard--south
    +markets
    +footer({
      type: 'short',
      modifier: 'new'
    })
