extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      h2.mb-30.mb-lg-50 Правила работы представителей СМИ на Всероссийском студенческом форуме в 2021 году
      .row
        .col-xl-8
          .pe-xxl-65
            p.fw-semibold В связи с особой эпидемиологической обстановкой в Российской Федерации, а также руководствуясь рекомендациями Роспотребнадзора, просим соблюдать простые правила: носить маски на территории Форума, а также соблюдать дистанцию 1,5 метра.
            p.fw-semibold Также будет соблюден контроль температуры в качестве меры по предупреждению распространения коронавируса.
            p.fw-semibold В случае вашего неприбытия на форум, пресс-служба готова предоставить всю необходимую информацию в электронном виде (фото, видео, пресс-релизы, пост-релизы), для этого необходимо отправить запрос на эл.адрес почта
        .col-xl-4
          +covid
      +warning({
        content: 'Без аккредитации и медицинских данных (сертификат вакцинации/ ПЦР-тест) вход на территорию форума запрещен. Аккредитация осуществляется не позднее чем за 24 часа до прибытия на форум. Администрация форума оставляет за собой право в отказе аккредитации представителям СМИ в возрасте старше 65 лет, чтобы не подвергать рискам, связанными с COVID-19'
      })
      .h4.mb-25 Аккредитация СМИ
      .row.mb-30.mb-xl-85
        .col-lg-6
          p.fw-semibold Для работы на Международном молодежном форуме «Евразия Global» необходимо быть аккредитованным пресс-службой форума.
          p.fw-semibold Для участия в мероприятии представителям СМИ (или их редакциям) необходимо скачать форму,(
            a.text-underline.text-dark(href="https://disk.yandex.ru/i/IZUoPto_IkwziQ") https://disk.yandex.ru/i/IZUoPto_IkwziQ 
            |) заполнить ее и отправить на эл.адрес 
            a.text-underline.text-dark(href="#") Почта
            |. Форму необходимо заполнить на каждого представителя СМИ и сотрудника, пребывающего на территории (включая технический персонал, водителей, ассистентов)
        .col-lg-6
          +important
      h4.mb-30.mb-lg-50 В день посещения форума необходимо обязательно иметь с собой:
      .row.mb-30.mb-xl-85
        .col-lg-4
          +requirement({
            icon: 'requirement-1.svg',
            content: 'Документ, удостоверяющий личность'
          })
        .col-lg-6
          +requirement({
            icon: 'requirement-2.svg',
            content: 'Сертификат вакцинации от COVID-19 или результат ПЦР-теста, сделанного не позднее чем за 72 часа до приезда на площадку форума'
          })
      .mb-30.mb-xl-50
        h4.mb-30.mb-xl-40 Для получения аккредитации:
        ul.yellow.yellow--default.mb-30.mb-xl-40
          li 
            span.fw-bold российским журналистам 
            | необходимо обладать удостоверением журналиста и находиться в штате зарегистрированного при Роскомнадзоре СМИ.
          li 
            span.fw-bold иностранным журналистам 
            | необходимо обладать аккредитацией при МИД РФ.
          li 
            span.fw-bold Информация о проходе 
            | доводится до сведения аккредитованных журналистов сотрудниками пресс-службы.
          li 
            span.fw-bold Работа представителей СМИ на площадке 
            | согласовывается заранее и подтверждается пресс-службой форума.
          li 
            span.fw-bold Представители СМИ находятся на площадке в сопровождении пресс-службы форума. 
            | Медиаслужба форума правомочна отказать СМИ в предоставлении аккредитации его журналистам без объяснения причины.
        .row
          .col-xl-7
            p.pe-xl-50 Медиаслужба форума делится с вами полезными ресурсами: — фотографии доступны в наших 
              a.fw-bold.text-decoration-none(href="#") социальных сетях
              |.
      h4.mb-20.mb-xl-40 Контактные данные для представителей СМИ
      +representative.mb-30.mb-xl-50
      +contact.contact--wide
        h6.mb-0 По всем вопросам ответим на почту: 
          a(href="#") eurasiayouthforum@gmail.com
      .row.mb-30.mb-xl-80
        .col-lg-4.d-flex
          +contact
            h6.mb-30 Использование фотоматериалов пресс-службы форума
            p.md.semi-transparent.text-dark Банк фотографий высокого разрешения доступен по отдельному запросу на адрес: 
              a.fw-bold(href="#") eurasiayouthforum@gmail.com
            p.md.semi-transparent.text-dark В теме письма указать: «Запрос на фото». Фотоматериалы форума также обновляются в ежедневном формате и доступны на сайте forumeurasia.ru
        .col-lg-4.d-flex
          +contact
            h6.mb-30 Запрос на предоставление информации о делегациях регионов
            p.md.semi-transparent.text-dark Представители региональных телеканалов могут направить запрос в пресс-службу форума на электронную почту 
              a.fw-bold(href="#") eurasiayouthforum@gmail.com
              |  о предоставлении видеоматериалов о делегации города или региона для включения материала в ротацию новостных выпусков.
            p.md.semi-transparent.text-dark Срок и техническое задание предоставления материалов оговаривается по каждому запросу отдельно. В теме письма указать «Запрос видеоматериала». 
            p.md.semi-transparent.text-dark Требования к телеканалам: наличие официального свидетельства о регистрации СМИ.
        .col-lg-4.d-flex
          +contact
            h6.mb-30 Запрос на комментарий спикера форума
            p.md.semi-transparent.text-dark Запрос на предоставление комментария спикера форума направляется на электронную почту 
              a.fw-bold(href="#") eurasiayouthforum@gmail.com
            p.md.semi-transparent.text-dark В теле письма указывается название СМИ, регион, сайт СМИ, имя спикера, тематика готовящегося материала, сам вопрос, а также имя, мобильный телефон и должность отправителя запроса.
            p.md.semi-transparent.text-dark В теме письма указать «Запрос комментария спикера»
  +footer
