extends ../templates/template.pug
block content
  +header
  .wrapper
    .container
      h2.mb-20.mb-xl-35 Новости
      .row.mb-xl-50
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-1.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-2.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-3.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-4.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-5.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-6.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-7.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-8.jpg'
          })
        .col-xl-4.col-sm-6
          +news({
            picture: 'news-9.jpg'
          })
  +footer
