extends ../templates/template.pug
block content
  +header
  .wrapper
    .platforms
      .container
        h2.mb-30.mb-lg-50 Региональные площадки в рамках Всероссийского студенческого форума «Диалоги на равных» 
        .platforms__info
          p.platforms__dscr Марафон мероприятий в более 100 вузов по всей стране
          +number({
            icon: 'number-1.svg',
            header: '21-26',
            subheader: 'сентября'
          })
          +number({
            icon: 'number-2.svg',
            header: '50 000',
            subheader: 'участников'
          })
        h4.mb-25 Форматы работы региональных площадок
        .platforms__formats
          .platforms__formats-item
            .h4.sm.platforms__formats-item-number 1
            .p.fw-semibold.mb-0 Онлайн лекции, мастер-классы, семинары и интерактивные тренинги на базе университетов в рамках основных модулей образовательной программы Слёта НЛСК и Всероссийского студенческого форума:
          .row.mt-30.mt-lg-50
            .col-lg-4.d-flex
              .format.p.fw-semibold Конструктор событий
            .col-lg-4.d-flex
              .format.p.fw-semibold Архитектура сообществ
            .col-lg-4.d-flex
              .format.p.fw-semibold Комьюнити драйверы
          .platforms__formats-item
            .h4.sm.platforms__formats-item-number 2
            .p.fw-semibold.mb-0 Образовательные блоки онлайн-Слёта НЛСК 2021
          .platforms__formats-item
            .h4.sm.platforms__formats-item-number 3
            .p.fw-semibold.mb-0 Онлайн-трансляции ключевых встреч «Горизонты событий» с площадки Слёта НЛСК 
          .platforms__formats-item
            .h4.sm.platforms__formats-item-number 4
            .p.fw-semibold.mb-0 Уникальная программа от университета и региона
        h4.mb-20 Направления
        .platforms__tags
          +tag({
            title: 'Наука и техника'
          })
          +tag({
            title: 'Экология'
          })
          +tag({
            title: 'Молодежное самоуправление'
          })
          +tag({
            title: 'Цифровая трансформация'
          })
          +tag({
            title: 'ЗОЖ и спорт'
          })
          +tag({
            title: 'Межрегиональное молодежное сотрудничество'
          })
          +tag({
            title: 'Медиа и социальные сети'
          })
          +tag({
            title: 'Предпринимательство'
          })
          +tag({
            title: 'Студенческий туризм'
          })
          +tag({
            title: 'Профориентация, карьера и трудоустройство'
          })
          +tag({
            title: 'Волонтерское движение'
          })
          +tag({
            title: 'Творчество'
          })
          +tag({
            title: 'Комьюнити драйверы'
          })
          +tag({
            title: 'Патриотическое и гражданское воспитание'
          })
          +tag({
            title: 'Наставничество'
          })
        h4.mb-15 Критерии участников:
        ul.yellow.fw-semibold
          li Граждане РФ
          li В возрасте от 18 до 35 лет
          li Представители студенческого сообщества
          li Члены и руководители студенческих клубов
          li Авторы, руководители или участники социальных проектов, реализуемых на территории Российской Федерации 
        +news-slider
  +footer
