extends ../templates/template.pug
block content
  +header
  .wrapper
    .container.mt-30
      h2.mb-20.mb-xl-40 Программа
      ul.nav.nav-tabs.nav-tabs--sm.mb-25
        li.nav-item
          button.nav-link.active(data-bs-toggle='tab' data-bs-target='#tab21') 21.09
        li.nav-item
          button.nav-link(data-bs-toggle='tab' data-bs-target='#tab23') 22.09
        li.nav-item
          button.nav-link(data-bs-toggle='tab' data-bs-target='#tab23') 23.09
        li.nav-item
          button.nav-link(data-bs-toggle='tab' data-bs-target='#tab24') 24.09
        li.nav-item
          button.nav-link(data-bs-toggle='tab' data-bs-target='#tab25') 25.09
        li.nav-item
          button.nav-link(data-bs-toggle='tab' data-bs-target='#tab26') 26.09
        li.nav-item
          button.nav-link(data-bs-toggle='tab' data-bs-target='#tab27') 27.09
      .tab-content.pb-30.pb-lg-70
        #tab21.tab-pane.fade.show.active
          ul.nav.nav-tabs.nav-tabs--sm.mb-25
            li.nav-item
              button.nav-link.active(data-bs-toggle='tab' data-bs-target='#tabIn02') Онлайн-программа
            li.nav-item
              button.nav-link(data-bs-toggle='tab' data-bs-target='#tabIn03') Офлайн-программа
          .tab-content.pb-30.pb-lg-70
            #tabIn02.tab-pane.fade.show.active
              +program
            #tabIn03.tab-pane.fade
        #tab22.tab-pane.fade
        #tab23.tab-pane.fade
        #tab24.tab-pane.fade
        #tab25.tab-pane.fade
        #tab26.tab-pane.fade
        #tab27.tab-pane.fade
  +footer
