mixin event(data)
  .event&attributes(attributes)
    if data && data.interest
    else
      .event__header
        .event__header-left
          if data && data.color
            .event__section(class="event__section--" + data.color) Конструктор событий
          .event__time 11:45 - 12:30
          .event__place Зал2
        if data && data.favorite
          a.event__header-star.event__header-star--active(href="#")
        else
          a.event__header-star(href="#")
    .event__content
      .p.fw-bold.mb-0= data.dscr
    if data && data.interest
      a.event__interest.event__interest--active(href="#")
        .event__interest-header Интересно
        .event__interest-count +22


