.event {
  margin-bottom: 48px;
  padding: 24px 18px 18px 24px;
  background: $gray;
  border-radius: 20px;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  &__header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }
  }

  &__header-left {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__time {
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.29;
    color: $dark;

    @include media-breakpoint-down(sm) {
      margin: 10px 0;
    }
  }

  &__place {
    font-size: 14px;
    line-height: 1.29;
    color: $dark;
  }

  &__header-star {
    position: relative;
    top: -6px;
    width: 22px;
    height: 22px;
    background: url(../img/star.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &--active {
      background: url(../img/star-filled.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__section {
    margin-right: 20px;
    padding: 3px 10px;
    display: inline-flex;
    font-size: 10px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;

    &--blue {
      background: $primary;
    }

    &--yellow {
      background: $secondary;
    }

    &--red {
      background: $red;
    }
  }

  &__content {
    max-width: 90%;
  }

  &__interest {
    margin-top: 20px;
    padding: 8px 8px 8px 20px;
    display: inline-flex;
    text-decoration: none;
    background: transparent;
    border: 1px solid $secondary;
    border-radius: 20px;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }

    &:hover {
      opacity: .8;
    }

    &--active {
      background: $primary;
      border: 0;

      .topic__interest-header {
        color: #000;
      }
    }
  }

  &__interest-header {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 600;
    color: #fff;
  }

  &__interest-count {
    padding: 1.5px 6.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.375;
    font-weight: 600;
    color: #fff;
    background: #000;
    border-radius: 20px;
  }

  &--item {
    margin: 0 8px;

    @include media-breakpoint-down(md) {
      margin: 0 0 10px;
    }
  }
}
