.media {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  border-radius: 44px;

  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 44px;
  }
}
