mixin media(data)
  .media&attributes(attributes)
    iframe.media__iframe(width='100%' height='auto' src='https://www.youtube.com/embed/Mg4f5eAfnC4?controls=0' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
