mixin logo(data)
  a.logo(href="index.html")&attributes(attributes)
    if data && data.type == 'new'
      .logo__picture
        img.logo__picture-img(src="./img/logo-colored.svg", alt)
      .logo__title Форум студенческих объединений Приволжского федерального округа
    if data && data.type == 'south'
      .logo__picture
        img.logo__picture-img(src="./img/logo-colored.svg", alt)
      .logo__title Форум студенческих объединений Южного федерального округа
    else
      .logo__picture
        img.logo__picture-img(src="./img/logo.svg", alt)
      .logo__title Всероссийский студенческий форум 
