.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__picture {
    margin-right: 40px;
    max-width: 96px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      max-width: 40px;
    }
  }

  &__picture-img {
  }

  &__title {
    max-width: 215px;
    font-size: 22.73px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &--new {

    .logo__title {
      max-width: 400px;
    }
  }
}
