mixin front(data)
  .front&attributes(attributes)
    if data && data.type == 'new'
      .container
        .row
          .col-xxl-11
            .front__content
              .front__content-wrapper
                .front__content-left
                  h4.sm.mb-30.mb-xl-45 1 — 3 декабря 2021
                  h2.front__title Форум студенческих объединений Приволжского федерального округа 2021
                .front__info
                  .front__participants
                    .front__participants-number 80
                    .front__participants-title Участников
                  p.mb-0 Студентов от 18 до 25 лет, лидеров и представителей студенческих объединений ПФО, авторы и руководители социальных проектов, представители активной молодежи ПФО
                .front__tags
                  a.front__tag(href="#") #росмолодежь
                  a.front__tag(href="#") #ресурсцентр
                  a.front__tag(href="#") #россиястранавозможностей
                  a.front__tag(href="#") #ВКМП
                  a.front__tag(href="#") #ОрГМУ
                  a.front__tag(href="#") #НЛСК
    else if data && data.type == 'south'
      .container
        .row
          .col-xxl-11
            .front__content
              .front__content-wrapper
                .front__content-left
                  h4.sm.mb-30.mb-xl-45 5-7 декабря 2021
                  h2.front__title Форум студенческих объединений Южного федерального округа 2021
                .front__info
                  .front__participants
                    .front__participants-number 62
                    .front__participants-title Участника
                  p.mb-0 Студенты от 18 до 25 лет, лидеры и представители студенческих объединений ЮФО, авторы и руководители социальных проектов, представители активной молодежи ПФО
                .front__tags
                  a.front__tag(href="#") #росмолодежь
                  a.front__tag(href="#") #ресурсцентр
                  a.front__tag(href="#") #россиястранавозможностей
                  a.front__tag(href="#") #ВКМП
                  a.front__tag(href="#") #ОрГМУ
                  a.front__tag(href="#") #НЛСК
    else
      .container
        .row
          .col-xxl-11
            .front__content
              .front__content-left
                h1.mb-20 Один форум – по всей стране
                h4.sm.mb-0 21-27 сентября
              .front__content-right
                h1.mb-10 50 000
                h4.sm.mb-0 студентов
        .row
          .col-lg-4.d-flex
            +section({
              header: 'Слёт НЛСК офлайн',
              subheader: 'г. Казань',
              bg: 'section-1.svg'
            }).section--yellow
          .col-lg-4.d-flex
            +section({
              header: 'Онлайн-программа',
              subheader: 'Онлайн-платформа',
              bg: 'section-2.svg'
            }).section--red
          .col-lg-4.d-flex
            +section({
              header: 'Региональные площадки по всей России',
              bg: 'section-3.svg'
            }).section--blue

