.front {

  &__content {
    position: relative;
    margin-bottom: 95px;
    padding-top: 50px;
    padding-right: 76px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
      padding-top: 30px;
      padding-right: 30px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &:before {
      position: absolute;
      z-index: -2;
      top: 0;
      right: 0;
      display: block;
      width: 1568px;
      height: 538px;
      content: '';
      background: url(../img/front-bg.svg) no-repeat right top;
      background-size: contain;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 160px;
      left: calc(100% - 132px);
      display: block;
      width: 774px;
      height: 470px;
      content: '';
      background: url(../img/front-picture.png) no-repeat right top;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__content-left {
    margin-top: 40px;
    max-width: 500px;

    @include media-breakpoint-down(xl) {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }

  &__content-right {
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 45px;
    font-size: 52px;
    line-height: 1.1;
    font-weight: 700;
    color: #333;

    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }

  &__info {
    margin-bottom: 64px;
    display: flex;
    max-width: 760px;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__participants {
    margin-right: 52px;
    flex-shrink: 0;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__participants-number {
    font-size: 78px;
    line-height: 1.1;
    font-weight: 700;
    color: $primary;
  }

  &__participants-title {
    margin-top: -8px;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 700;
    color: $primary;
  }

  &__tags {
    display: flex;
    max-width: 516px;
    flex-wrap: wrap;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 700;
    color: #333;
  }

  &__tag {
    margin-right: 16px;
    margin-bottom: 26px;
    padding: 8px 16px;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    background: $secondary;
    border-radius: 150px;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 4px 8px;
      font-size: 16px;
    }

    &:hover {
      color: #333;
      background: darken($secondary, 5%);
    }
  }

  &__content-wrapper {
    position: relative;
    z-index: 1;
  }

  &--new {

    .front__content {
      margin-bottom: 65px;
      padding-top: 60px;
      display: block;

      &:before {
        z-index: auto;

        @include media-breakpoint-down(md) {
          height: calc(100% + 50px);
          background-position: right center;
          background-size: auto 100%;
        }
      }

      &:after {
        z-index: auto;
        top: 204px;
        left: calc(100% - 188px);
        width: 835px;
        height: 507px;
        content: '';
        background: url(../img/front-picture-2.png) no-repeat left top;
        background-size: contain;

        @include media-breakpoint-down(xl) {
          display: none;
        }
      }
    }

    .front__content-left {
      position: relative;
      margin-top: 0;
      max-width: 720px;

      @include media-breakpoint-down(xl) {
        margin-bottom: 20px;
      }
    }
  }

  &--south {

    .front__content {

      &:after {
        background: url(../img/front-picture-3.png) no-repeat left top;
        background-size: contain;
      }
    }
  }
}
