mixin news-slider(data)
  .news-slider&attributes(attributes)
    h2.mb-20.mb-xl-35 Новости
    .slider
      +news({
        picture: 'news-1.jpg'
      }).slider__item
      +news({
        picture: 'news-2.jpg'
      }).slider__item
      +news({
        picture: 'news-3.jpg'
      }).slider__item
      +news({
        picture: 'news-1.jpg'
      }).slider__item
      +news({
        picture: 'news-2.jpg'
      }).slider__item
      +news({
        picture: 'news-3.jpg'
      }).slider__item