.feature {

  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
  }

  &__number {
    position: relative;
    margin-bottom: 48px;
    padding-top: 16px;
    width: 93px;
    height: 132px;
    font-size: 88px;
    line-height: 1.1;
    font-weight: 700;
    text-align: right;
    color: $primary;

    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/feature-icon.svg) no-repeat center top;
      background-size: contain;
    }
  }

  &__content {
  }

  &--reverse {

    .feature__number {
      padding-top: 30px;

      &:before {
        transform: rotate(180deg);
      }
    }
  }
}
