.cabinet {
  padding-bottom: 60px;

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }

  &__table-wrapper {
  }

  &__table-form {
    display: none;
  }

  &__table-form-back {
    margin-top: 8px !important;
    margin-right: 20px !important;
    width: 40px !important;
    height: 20px !important;
  }

  &__table {
  }

  &__table-item {
    margin-bottom: 27px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__table-header {
    flex: 0 0 256px;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(#515152, .78);

    @include media-breakpoint-down(sm) {
      flex: 1 1 auto;
    }
  }

  &__table-content {
    font-size: 20px;
    line-height: 1.4;
    color: #000;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }

  &__schedule {
  }

  &__schedule-section {
    margin-bottom: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__schedule-day {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    white-space: nowrap;
    color: $dark;
  }

  &__program {
  }

  &__user {

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      padding-top: 0;
    }
  }

  &__user-picture {
    position: relative;
    margin-bottom: 25px;
    padding-top: 133.2%;
    width: 100%;
    background-position: top center;
    background-size: cover;
    border-radius: 20px;

    @include media-breakpoint-down(sm) {
      padding-top: 100%;
      max-width: 80%;
    }
  }

  &__user-content {
    max-width: 220px;
  }

  &__user-type {
    margin-bottom: 25px;
    font-size: 11px;
    line-height: 1.2;
    color: #000;
  }

  &__user-edit {
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    color: $primary;

    @include transition;

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    &:hover {
      opacity: .8;
      color: $secondary;
    }

    &:before {
      margin-top: -4px;
      margin-right: 10px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/edit.svg) no-repeat center;
      background-size: contain;
    }
  }
}
