mixin number(data)
  .number&attributes(attributes)
    img.number__icon(src="./img/" + data.icon, alt)
    .number__content
      .h1.number__header.mb-0= data.header
      .h5.fw-bold.mb-0= data.subheader
    
