.number {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(lg) {
    margin-top: 20px;
  }

  &__icon {
    margin-right: 35px;
    width: 65px;
    height: 65px;
    flex-shrink: 0;
  }

  &__header {
    flex-shrink: 0;
  }
}
