.advantages {
  margin-bottom: 75px;

  &__list {
  }

  &__item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 42px;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      padding-left: 30px;
    }

    &:before {
      position: absolute;
      top: 15px;
      left: 0;
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      background: $red;
      border-radius: 50%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
