mixin advantages(data)
  .advantages&attributes(attributes)
    .container
      .row
        .col-xl-11
          .h1.mb-30.mb-lg-65 Как стать участником? – <br>быть студентом университета России! 
      .advantages__list
        +advantages__item({
          header: 'Единый вектор программ всех площадок форума:',
          dscr: 'Трансляция ключевых событий и проведение интересных онлайн-активностей'
        })
        +advantages__item({
          header: 'Точка роста для современной молодежи:',
          dscr: 'Создание эффекта синергии в развитии масштабных студенческих инициатив'
        })
        +advantages__item({
          header: 'В программе форума представлен уникальный комплекс материалов:',
          dscr: 'Сочетание теории и практики от ведущих экспертов позволяет получить эффективную дорожную карту для внедрения знаний в свою деятельность'
        })
        +advantages__item({
          header: 'Возможность стать спикером на одной из площадок форума:',
          dscr: 'Для этого необходимо подготовить выступление на актуальную тему и победить в голосовании'
        })
        
        
        
        
        
mixin advantages__item(data)
  .advantages__item&attributes(attributes)
    h4.mb-15= data.header
    p.lg.mb-0= data.dscr
