.link-back {
  margin-bottom: 32px;
  display: flex;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__arrow {
    margin-top: 15px;
    margin-right: 30px;
    display: block;
    width: 28px;
    height: 19px;
    flex-shrink: 0;
    background: url(../img/arrow-back.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 20px;
      width: 20px;
      height: 15px;
    }
  }

  &__title {
    line-height: 1;
  }
}
