.video {
  position: relative;
  padding-top: 66.67%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 111px;
  cursor: pointer;

  @include media-breakpoint-down(xxl) {
    border-radius: 40px;
  }

  @include media-breakpoint-down(sm) {
    border-radius: 20px;
  }

  &:hover {

    &:before {
      opacity: .9;
    }
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 168px;
    height: 168px;
    content: '';
    background: url(../img/play.svg) no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);

    @include transition;

    @include media-breakpoint-down(xxl) {
      width: 100px;
      height: 100px;
    }
  }
}
