mixin video(data)
  if data && data.type == 'new'
    a.video(href="https://www.youtube.com/watch?v=E97ZIKmR3fA", style="background-image: url(./img/stream-new.jpg);", data-fancybox)&attributes(attributes)
  else
    .video(style="background-image: url(./img/stream.jpg);")&attributes(attributes)
