mixin covid(data)
  .covid&attributes(attributes)
    p.fw-semibold.mb-0 При нахождении на территории форума необходимо соблюдать 
      a(href="#") профилактические меры
      |  и придерживаться всех правил форума
