.covid {
  padding: 34px 20px 34px 44px;
  background: $gray;
  border-radius: 20px;

  @include media-breakpoint-down(xl) {
    margin-top: 30px;
    padding: 30px;
  }

  &:before {
    margin-top: -70px;
    margin-bottom: 30px;
    display: block;
    width: 138px;
    height: 138px;
    content: '';
    background: url(../img/covid.svg) no-repeat center;
    background-size: contain;
  }
}
