mixin person(data)
  .person&attributes(attributes)
    .person__picture(style="background-image: url(./img/person-1.jpg)")
    .person__content
      a.person__name(href="#")= data.name
      p.xs.person__company= data.company
