.person {
  display: flex;
  align-items: center;

  &__picture {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 4px;
  }

  &__content {
  }

  &__name {
    text-decoration: none;
    color: $primary;

    &:hover {
      opacity: .8;
    }
  }

  &__company {
    margin-bottom: 0 !important;
  }
}
