.questions {
  position: relative;
  padding-bottom: 34px;

  @include media-breakpoint-down(xl) {
    background: #f8f8f8;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100%;
    content: '';
    background: #f8f8f8;

    @include media-breakpoint-down(xl) {
      background: transparent;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    padding: 30px 0 0 30px;

    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-left: 10px;
    }
  }

  &__header {
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xl) {
      padding-right: 30px;
    }

    @include media-breakpoint-down(sm) {
      padding-right: 10px;
    }
  }

  &__list {
    position: relative;
    padding-right: 20px;
    height: 595px;

    @include media-breakpoint-down(xl) {
      height: 400px;
    }
  }
}
