mixin questions(data)
  .questions&attributes(attributes)
    .questions__content
      .questions__header
        p.text-primary.fw-semibold.mb-0 Вопросы спикерам
        a.btn.btn-secondary.btn-xs.text-white(href="#question", data-fancybox) Задать вопрос
      .questions__list
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?',
          type: 'answer'
        })
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
        +question({
          content: 'Какие революционные проекты в цифровизации появятся после карантина ?'
        })
        +question({
          content: 'Скажите пожалуйста, какие ещё инструменты и сценарии которые были задействованы во время карантина на Ваш взгляд стоит неприменно задействовать в дальнейшем?'
        })
        +question({
          content: 'Скажите пожалуйста, рассматриваете ли Вы на ближайшую перспективу проекты связанные с киборгизацией человека?'
        })
