.media-controls {
  margin-bottom: 5px;
  padding: 14px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__views {
    display: flex;
    align-items: baseline;
    font-size: 12px;
    line-height: 1.333;
    font-weight: 500;
    color: #000;

    &:before {
      position: relative;
      top: 1px;
      margin-right: 8px;
      display: block;
      width: 16px;
      height: 11px;
      flex-shrink: 0;
      content: '';
      background: url(../img/views.svg) no-repeat center;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__vote {
    margin-right: 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.33;
    text-decoration: none;
    color: #000;

    @include transition;

    &:hover {
      opacity: .8;
      text-decoration: none;
      color: #000;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      content: '';
    }

    &--up {

      &:before {
        background: url(../img/vote-up.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--down {
      margin-right: 0;

      &:before {
        background: url(../img/vote-down.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__share {
    margin-left: 30px;
    width: 16px;
    height: 16px;
    background: url(../img/share.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }
}
