.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(xl) {
      margin-top: -2px;
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 70%;
    }

    &--active {

      @include media-breakpoint-down(xl) {
        position: relative;
        z-index: 4;
        background: url(../img/close.svg) no-repeat center;
        background-size: 70%;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include media-breakpoint-down(xl) {
      padding-bottom: 40px;
      display: none;
      flex-wrap: nowrap;
      text-align: center;
    }

    &--active {

      @include media-breakpoint-down(xl) {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        padding-top: 100px;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background: #fff url(../img/logo.svg) no-repeat top 16px right 16px;
        background-size: 59px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 60px;
        background: #fff url(../img/logo.svg) no-repeat top 10px right 16px;
        background-size: 40px;
      }
    }
  }

  &__item {
    margin-right: 37px;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 700;
    text-decoration: none;
    color: $dark;

    @include transition;

    &:hover,
    &--active {
      color: $secondary;
    }

    @include media-breakpoint-down(xl) {
      margin-right: 0;
      margin-bottom: 40px;
      font-size: 24px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(xl) {
        margin-bottom: 0;
      }
    }
  }

  &__short-content {
    display: flex;
    align-items: baseline;
  }

  &--main {

    @include media-breakpoint-down(xl) {
      margin-left: auto;
    }
  }

  &--new {

    .menu__item {

      @include media-breakpoint-down(xl) {
        margin-right: 20px;
        margin-bottom: 0;
        font-size: 16px;
      }

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
}
