mixin menu(data)
  .menu&attributes(attributes)
    if data && data.type == 'new'
      .menu__short-content
        a.menu__item(href="#") О форуме
        a.menu__item(href="#") Программа
    else
      a.menu__btn(href="#")
      .menu__content
        a.menu__item.menu__item--active(href="#") О форуме
        a.menu__item(href="#") Слёт НЛСК
        a.menu__item(href="#") Программа
        a.menu__item(href="#") Региональные площадки
        a.menu__item(href="#") Нетворкинг
        a.menu__item(href="#") Для СМИ
        a.menu__item(href="#") Новости
