.communication {
  margin-top: 43px;
  margin-bottom: 114px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondary url(../img/info-circles.svg) no-repeat top -150px right 100px;
  border-radius: 44px;

  @media (min-width: 1200px) and (max-height: 750px) {
    margin: 43px auto 114px;
    max-width: 80%;
  }

  @include media-breakpoint-down(xl) {
    max-width: 100%;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__btn {
    margin-left: 20px;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: 0;
      display: inline-flex;
    }
  }
}
