.header {
  margin-bottom: 30px;

  &__top {
    padding: 19.18px 0;
    border-bottom: 1px solid $gray;

    @include media-breakpoint-down(md) {
      padding: 10px 0;
    }
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    margin-left: 20px;
  }

  &__bottom {
    padding-top: 27px;

    @include media-breakpoint-down(md) {
      padding-top: 10px;
    }
  }

  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-right {
    display: flex;
  }

  &__btn {
    margin-right: 15px;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--login {
      display: flex;
      align-items: center;

      @include media-breakpoint-down(sm) {
        padding: 7px 14px;
        min-height: 48px;
        flex: 1 1 1;
        text-align: left;
      }

      &:last-child {
        margin-right: 0;
      }

      &:before {
        margin-right: 10px;
        display: block;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        content: '';
        background: url(../img/user-btn.svg) no-repeat center;
        background-size: contain;

        @include transition;

        @include media-breakpoint-down(sm) {
          margin-right: 13px;
        }
      }

      &:hover {

        &:before {
          filter: invert(1);
        }
      }
    }
  }

  &__btn-text {

    &--desktop {

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include media-breakpoint-down(lg) {
        display: inline;
      }
    }
  }

  &__user {
    margin-right: 15px;
    padding: 12px 16px 11px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;

    @include transition;

    &:hover {
      color: #000;
      background: #fff;
      border-color: #fff;
      filter: invert(1);
    }

    @include media-breakpoint-down(sm) {
      margin-right: 10px;
      padding: 0;
      width: 32px;
      height: 32px;
      justify-content: center;
      font-size: 0;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      content: '';
      background: url(../img/user-btn.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }

  &__logout {
    display: block;
    width: 40px;
    height: 40px;
    background: #000 url(../img/logout.svg) no-repeat center;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(sm) {
      width: 32px;
      height: 32px;
    }
  }
}
