mixin header(data)
  .header&attributes(attributes)
    .header__top
      .container
        .header__top-wrapper
          if data && data.type == 'new'
            +menu({
              type: 'new'
            }).menu--new
          else
            +menu
          +socials({
            type: 'new'
          }).header__socials
    .header__bottom
      .container
        .header__bottom-wrapper
          +logo({
            type: 'south',
          }).logo--new
          .header__bottom-right
            if data && data.type == 'login'
              a.header__user(href="#") Виктория Моршанская
              a.header__logout(href="#")
            if data && data.type == 'new' && !data.modifier
              a.btn.btn-secondary(href="#") Войти
            if data && data.modifier == 'south'
              a.btn.btn-primary.text-white(href="#") Войти
            else
              a.btn.btn-outline-dark.header__btn.header__btn--login(href="#") 
                span.header__btn-text.header__btn-text--desktop Вход для онлайн-участников
                span.header__btn-text.header__btn-text--mobile Онлайн-участники
              a.btn.btn-outline-dark.header__btn.header__btn--login(href="#") 
                span.header__btn-text.header__btn-text--desktop Вход для офлайн-участников
                span.header__btn-text.header__btn-text--mobile Офлайн-участники
