.content {
  position: relative;
  margin-bottom: 92px;

  &__lines {
    position: absolute;
    z-index: -1;
    bottom: 72px;
    left: 42px;
    max-width: none;
    background: url(../img/content-lines.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  &__wrapper {
    margin-top: 127px;

    @include media-breakpoint-down(xl) {
      margin-top: 20px;
    }
  }

  &__wrapper-top {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__wrapper-bottom {
    margin-top: -156px;
    padding-left: 160px;
    display: flex;

    @include media-breakpoint-down(xl) {
      margin-top: 0;
      padding-left: 0;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 48px;

    &:nth-child(2) {
      margin-top: -152px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      margin-top: -304px;

      @include media-breakpoint-down(xl) {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {

      @include transition;
    }
  }
}
