mixin content(data)
  .content&attributes(attributes)
    img.content__lines(src="./img/content-lines.svg", alt)
    .row
      .col-xl-3
        h2.mb-0 Что будет на слёте НЛСК
    .row
      .content__wrapper
        .content__wrapper-top
          .component.content__item.h6 
            a(href="#") Онлайн и офлайн 
            | программа
          .component.content__item.h6 Обучающие модули 
            a(href="#") «корпорация НЛСК»
          .component.content__item.h6 Факультативы по личной эффективности 
            a(href="#") «компетенции будущего»
        .content__wrapper-bottom
          .component.content__item.component--bottom.h6 Общение с talkom. 
            a(href="#") программа 2.0
          .component.content__item.component--bottom.h6 
            a(href="#") Грантовый конкурс 
            | росмолодежи
          .component.content__item.component--bottom.h6 Площадка 
            a(href="#") #onrussia
