mixin postcard(data)
  .postcard&attributes(attributes)
    .container.postcard__container
      .postcard__content
        .postcard__wrapper
          if data && data.south
            img.postcard__content-logo(src="./img/postcard-logo-white.svg", alt)
            .postcard__title Форум студенческих объединений Южного федерального округа
          else
            img.postcard__content-logo(src="./img/postcard-logo.svg", alt)
            .postcard__title Форум студенческих объединений Приволжского федерального округа
