.postcard {
  margin-top: 30px;
  margin-bottom: 100px;

  @include media-breakpoint-down(lg) {
    margin-top: 100px;
  }

  &__content {
    position: relative;
    padding: 74px 60px 74px 0;
    max-width: 290px;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 835px;
      height: 507px;
      content: '';
      background: url(../img/postcard-bg.svg) no-repeat center;
      background-size: contain;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: -110px;
      left: calc(100% - 132px);
      display: block;
      width: 1568px;
      height: 538px;
      content: '';
      background: url(../img/postcard-img.png) no-repeat center;
      background-size: contain;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__content-logo {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 22.73px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
  }

  &--south {

    .postcard__container {
      display: flex;
      justify-content: flex-end;
    }

    .postcard__content {
      max-width: 200px;

      &:before {
        right: auto;
        left: -90px;
        background: url(../img/postcard-bg-south.svg) no-repeat center;
        background-size: contain;
      }

      &:after {
        right: calc(100% - 132px);
        left: auto;
        background: url(../img/postcard-img-south.png) no-repeat center;
        background-size: contain;
      }
    }

    .postcard__title {
      color: #fff;
    }
  }
}
