mixin participants(data)
  .participants&attributes(attributes)
    .participants__number= data.number
    .participants__content
      p.fw-semibold.text-dark.mb-0= data.header
      if data && data.subheader
        p.xs.mb-0.transparent= data.subheader
