.participants {
  margin-bottom: 12px;
  display: flex;

  &:before {
    margin-right: 16px;
    display: block;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    content: '';
    background: url(../img/participants-icon.svg) no-repeat center;
    background-size: contain;
  }

  &__number {
    width: 84px;
    flex-shrink: 0;
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
    color: $red;
  }

  &__content {
    padding-top: 1px;
  }
}
